.flex{
	display: flex;
}
.flex-justify-center{
	display: flex;
	justify-content: center;
}
.flex-align-items{
	display: flex;
	align-items: center;
}
.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}